@charset "ISO-8859-1";

*{
	box-sizing: border-box;
	font-family: sans-serif;
}
textarea:focus,
input:focus{
	outline: none !important;
}

html{
	background-color: teal;
	color: white;
}

#login-form{
	margin: 20px;
	padding: 10px;
	text-align: center;
}
#form-title{
	letter-spacing: 2px;
	font-size: 1.5rem;
	margin: 20px 0;
}

input[type="text"],
input[type="password"]{
	padding: 10px 30px;
	border: none;
	border-radius: 20px;
	margin: 20px 0;
}

#submit-btn{
	font-size: 1.1rem;
	padding: 5px 15px;
	margin: 20px 0;
	border: none;
	border-radius: 20px;
	font-weight: 600;
	background-color: lime;
	color: black;
	transition: 0.4s ease-in-out;
}
#submit-btn:hover{
	background-color: silver;
	color: white;
	text-decoration: underline;
}

a{
	margin: 50px 0 0 0;
	font-size: 1.1rem;
	padding: 5px 15px;
	border: none;
	border-radius: 20px;
	font-weight: 600;
	background-color: lime;
	color: black;
	text-decoration: none;
	transition: 0.4s ease-in-out;
}
a:hover{
	background-color: silver;
	color: white;
	text-decoration: underline;
}

